{{!-- <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header">
                <h3>Click Link For Payment </h3>
                <a href='{{finalUrl}}'>Test Transaction Link</a>

            </div>
            <!-- /.box-header -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div> --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

<body>
     <h1>Alipay</h1> 
    <h3>Click on Payment Link </h3>
     <h5> and Please Wait it Will Take Some Time...</h5>
    <a href='{{finalUrl}}'>Payment</a>
</body>

</html>