<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <h1>Paypal</h1> 
        <h3>Click on Payment Button </h3>
        <h5> and Please Wait it Will Take Some Time...</h5>
        <form name="f1" action="/app/payment/paypalAction">
            <button type="submit">Payment</button>
        </form>
    </body>
</html>
